<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Home</title>
    <link rel="stylesheet" th:href="@{/css/index.css}"/>
    <link th:href='@{https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css}' rel='stylesheet'>
</head>
<body>
<main>
    <div class="main">
        <h2>mathalama.dev</h2>

        <a th:href="@{/profile}">Мой профиль</a>
        
        <form method="post" action="/api/auth/logout" style="display:inline">
            <button type="submit">Выйти</button>
        </form>
        
        <a th:href="@{/login}">Войти</a> или <a th:href="@{/register}">Зарегистрироваться</a>
    </div>
</main>
</body>
</html>